<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Tournament Display</title>
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="container">

        <div class="card">
            <div class="details">
                <img src="/icons/webdevlopment.png" alt="typescript" style="width: 50px; height: 50px;">
                <h3>Webdevlopment</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/webdevlopment" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-solid fa-c"></i>
                <h3>C</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/c" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/c++.png" alt="typescript" style="width: 50px; height: 50px;">
                <h3>C++</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/ccc" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-html5"></i>
                <h3>html</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/html" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-css3-alt"></i>
                <h3>css</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/css" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-js"></i>
                <h3>JAVASCRIPT</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/js" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-react"></i>
                <h3>REACT</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/react" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-solid fa-ruble-sign"></i>
                <h3>RUBY</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/ruby" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/typescript.png" alt="typescript" style="width: 50px; height: 50px;">
                <h3>TYPESCRIPT</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/typeScript" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-php"></i>
                <h3>PHP</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/php" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-solid fa-database"></i>
                <h3>SQL</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/sql" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/kotlin.jpg" alt="typescript" style="width: 50px; height: 50px;">
                <h3>KOTLIN</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/kotlin" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-swift"></i>
                <h3>SWIFT</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/swift" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-dart-lang"></i>
                <h3>DART</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/dart" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-golang"></i>
                <h3>GOLANG</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/golang" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-solid fa-boxes-packing"></i>
                <h3>HACKING</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/hacking" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/Haskell.png" alt="typescript" style="width: 50px; height: 50px;">
                <h3>Haskell</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/haskell" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/matlab.jpg" alt="typescript" style="width: 50px; height: 50px;">
                <h3>Matlab</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/matlab" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <i class="fa-brands fa-python"></i>
                <h3>Python</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/python" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/scala.png" alt="typescript" style="width: 50px; height: 50px;">
                <h3>Scala</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/scala" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

        <div class="card">
            <div class="details">
                <img src="/icons/shell.png" alt="typescript" style="width: 50px; height: 50px;">
                <h3>Shell</h3>
            </div>
            <a href="https://exam-hz9u.onrender.com/shell" class="neon-button">
                Exam Now
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>


        

    </div>

    
</body>
</html>